<?xml version="1.0"?>
<config>
    <sections>
        <tangkoko_admintools translate="label">
            <label>Module Tangkoko AdminTools</label>
            <tab>tangkoko_all</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <log translate="label">
                    <label>Log Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>

                    <fields>
                        <log_active translate="label">
                            <label>Active</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tangkoko_admintools/config_active</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </log_active>
                    </fields>

                </log>
            </groups>

            <groups>
                <cron translate="label">
                    <label>Cron Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>

                    <fields>
                        <cron_active translate="label">
                            <label>Active</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tangkoko_admintools/config_active</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cron_active>
                    </fields>
                </cron>
            </groups>

            <groups>
                <login translate="label comment">
                    <label>Login Form Configuration</label>
                    <comment>Usefull to help your browser to save login and password information at login</comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>

                    <fields>
                        <login_active translate="label">
                            <label>Active</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tangkoko_admintools/config_active</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </login_active>
                    </fields>

                    <fields>
                        <login_ip translate="label comment">
                            <label>Allowed IPs (comma separated)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </login_ip>
                    </fields>
                </login>
            </groups>

            <groups>
                <phpinfo translate="label">
                    <label>PhpInfo Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>

                    <fields>
                        <phpinfo_active translate="label">
                            <label>Active</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tangkoko_admintools/config_active</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </phpinfo_active>
                    </fields>
                </phpinfo>
            </groups>

            <groups>
                <phpini translate="label">
                    <label>PhpIni Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <phpini_active translate="label">
                            <label>Active</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tangkoko_admintools/config_active</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </phpini_active>

                        <memory_limit translate="label">
                            <label>Memory limit</label>
                            <comment>Memory limit in MB</comment>
                            <frontend_type>text</frontend_type>
                            <frontend_class>required-entry validate-digits</frontend_class>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </memory_limit>

                        <max_execution_time translate="label">
                            <label>Max Execution Time</label>
                            <comment>Max Execution Time in second</comment>
                            <frontend_type>text</frontend_type>
                            <frontend_class>required-entry validate-digits</frontend_class>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_execution_time>
                    </fields>
				</phpini>	
			</groups>
					
			<groups>
				<date translate="label">
					<label>Date Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>6</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>

					<fields>
						<date_active translate="label">
							<label>Active</label>
							<frontend_type>select</frontend_type>
							<source_model>tangkoko_admintools/config_active</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</date_active>
					</fields>
				</date>
            </groups>
        </tangkoko_admintools>
    </sections>
</config>
