<?xml version="1.0"?>
<config>
    <modules>
        <Magpleasure_Massshipping>
            <version>1.0.3</version>
        </Magpleasure_Massshipping>
    </modules>
    <admin>
        <routers>
            <massshipping>
                <use>admin</use>
                <args>
                    <module>Magpleasure_Massshipping</module>
                    <frontName>massshipping</frontName>
                </args>
            </massshipping>
        </routers>
    </admin>
    <adminhtml>
		<menu>
            <sales>
                <children>
                    <massshipping module="massshipping">
                        <title>Mass Shipping</title>
                        <sort_order>60</sort_order>
                        <action>massshipping/import/index</action>
                    </massshipping>
                </children>
            </sales>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
                        <!--<system>-->
                            <!--<children>-->
                                <!--<config>-->
                                    <!--<children>-->
                                        <!--<massshipping>-->
                                            <!--<title>Magpleasure - Mass Shipping</title>-->
                                        <!--</massshipping>-->
                                    <!--</children>-->
                                <!--</config>-->
                            <!--</children>-->
                        <!--</system>-->
                        <sales>
                            <children>
                                <massshipping module="massshipping">
                                    <title>Magpleasure - Mass Shipping</title>
                                    <sort_order>60</sort_order>
                                </massshipping>
                            </children>
                        </sales>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<massshipping>
					<file>massshipping.xml</file>
				</massshipping>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <massshipping>
                <class>Magpleasure_Massshipping_Model</class>
                <resourceModel>massshipping_mysql4</resourceModel>
            </massshipping>
            <massshipping_mysql4>
                <class>Magpleasure_Massshipping_Model_Mysql4</class>
                <entities>
                    <quote>
                        <table>mp_ms_quotes</table>
                    </quote>
                    <row>
                        <table>mp_ms_rows</table>
                    </row>
                    <column>
                        <table>mp_ms_columns</table>
                    </column>
                    <cell>
                        <table>mp_ms_cells</table>
                    </cell>
                </entities>
            </massshipping_mysql4>
        </models>
        <resources>
            <massshipping_setup>
                <setup>
                    <module>Magpleasure_Massshipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </massshipping_setup>
            <massshipping_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </massshipping_write>
            <massshipping_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </massshipping_read>
        </resources>
        <blocks>
            <massshipping>
                <class>Magpleasure_Massshipping_Block</class>
            </massshipping>
        </blocks>
        <helpers>
            <massshipping>
                <class>Magpleasure_Massshipping_Helper</class>
            </massshipping>
        </helpers>
    </global>
</config>