<?xml version="1.0"?>
<!--
/**
 * Allow to rewrite Netzarbeiter module to match with MPD needs
 *
 * @category    Mpd
 * @package     Mpd_Groupscatalog
 * @author      Tangkoko <support@tangkoko.com>
 * @copyright   Copyright (c) 2016 Tangkoko (http://www.tangkoko.com)
 * @license     All rights reserved
 */
-->
<config>
    <modules>
        <Mpd_Groupscatalog>
            <version>0.0.1</version>
        </Mpd_Groupscatalog>
    </modules>
    <global>
        <models>
            <mpd_groupscatalog>
                <class>Mpd_Groupscatalog_Model</class>
            </mpd_groupscatalog>
        </models>
        <helpers>
            <mpd_groupscatalog>
                <class>Mpd_Groupscatalog_Helper</class>
            </mpd_groupscatalog>
        </helpers>
    </global>
    <frontend>
        <events>
            <customer_session_init>
                <observers>
                    <mpd_groupscatalog>
                        <type>singleton</type>
                        <class>mpd_groupscatalog/observer</class>
                        <method>addVisibilityGroupInSession</method>
                    </mpd_groupscatalog>
                </observers>
            </customer_session_init>
        </events>
    </frontend>

</config>