<?xml version="1.0"?>
<!--
/**
 * @category    Tangkoko
 * @package     Tangkoko_All
 * @author      Tangkoko <support@tangkoko.com>
 * @copyright   Copyright (c) 2015 Tangkoko (http://www.tangkoko.com)
 * @license     All rights reserved
 */
-->
<config>
    <modules>
        <Tangkoko_All>
            <version>1.0.0.0</version>
        </Tangkoko_All>
    </modules>
    <global>
        <helpers>
            <tangkoko_all>
                <class>Tangkoko_All_Helper</class>
            </tangkoko_all>
        </helpers>
    </global>
</config>