<?xml version="1.0"?>
<!--
/**
 * @category    Tangkoko
 * @package     Tangkoko_All
 * @author      Tangkoko <support@tangkoko.com>
 * @copyright   Copyright (c) 2015 Tangkoko (http://www.tangkoko.com)
 * @license     All rights reserved
 */
-->
<config>
    <tabs>
        <tangkokoall translate="label" module="tangkoko_all">
            <label>Tangkoko Extensions</label>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
        </tangkokoall>
    </tabs>
</config>