<?xml version="1.0"?>
<!--
/**
 * @category	SbeCms
 * @package		SBE
 * @author		SBE
 * @copyright	Copyright 2015 Sbe
 */
-->
<config>
    <modules>
        <Sbe_Cms>
            <version>1.0.2</version>
        </Sbe_Cms>
    </modules>
    <global>
    	<ressources>
    		<sbe_cms_setup>
    			<setup>
    				<module>Sbe_Cms</module>
    			</setup>
    		</sbe_cms_setup>
    	</ressources>
    </global>
</config>