<?xml version="1.0"?>
<!--
/**
 * @category	Sbe
 * @author		Sbe
 * @copyright	Copyright 2015 Sbe
 */
-->
<config>
    <modules>
        <Sbe_Cms>
            <version>0.0.2</version>
        </Sbe_Cms>
    </modules>
     <global>
       <resources>
            <sbe_cms_setup>
                <setup>
                    <module>Sbe_Cms</module>
                </setup>
            </sbe_cms_setup>
        </resources>
    </global>
</config>