<?xml version="1.0"?>
<!--
/**
 * @category    Mpd
 * @package     Mpd_Migration
 * @author      Tangkoko <support@tangkoko.com>
 * @copyright   Copyright (c) 2016 Tangkoko (http://www.tangkoko.com)
 * @license     All rights reserved
 */
-->
<config>
    <modules>
        <Mpd_Migration>
            <version>0.0.4</version>
        </Mpd_Migration>
    </modules>
    <global>
        <resources>
            <mdp_migration_setup>
                <setup>
                    <module>Mpd_Migration</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mdp_migration_setup>
        </resources>
    </global>
</config>